<h1>JetGreen Airways</h1>
<p>Please select a flight:</p>
<table>
    <tr>
        <th>Flight ID</th>
        <th>Path</th>
        <th>Departs</th>
    </tr>

    <% @flights.sort_by(&:id).each do |f| %>
    <tr>
        <td><%= link_to f.id, flight_path(f) %></td>
        <td><%= f.depart %> -> <%= f.arrive %></td>
        <td><%= f.departure %></td>
    </tr>
    <% end %>
</table>